<div>
  <mat-spinner *ngIf="!coupon"></mat-spinner>
  <table class="coupon" *ngIf="coupon">

    <tr>
      <td [colSpan]="3">Title: <span style="color: purple; font-family: 'Arial Black',serif; font-style: italic" >{{coupon.title}}</span></td>
      <td class="logo" [colSpan]="2" [rowSpan]="2"><app-coupon-logo imageSource="{{coupon.image}}" *ngIf="coupon"></app-coupon-logo> </td>
    </tr>
    <tr>
      <td [colSpan]="3"><span style="color: purple; font-family: 'Arial Black',serif; font-style: italic" >"{{coupon.message}}"</span></td>

    </tr>
    <tr>
      <td [colSpan]="2">From: <span style="color: purple; font-family: 'Arial Black',serif; font-style: italic" >{{coupon.startDate}}</span><br/>
        Till: <span style="color: purple; font-family: 'Arial Black',serif; font-style: italic" >{{coupon.endDate}}</span></td>
      <td>Type: <span style="color: purple; font-family: 'Arial Black',serif; font-style: italic" >{{coupon.type}}</span></td>
      <td>Price: <span style="color: purple; font-family: 'Arial Black',serif; font-style: italic" >{{coupon.price}}</span></td>
      <td><button mat-raised-button (click)="purchase()">Purchase</button></td>
    </tr>

  </table>
</div>
