.home-image {
  margin: 2% auto auto;
  text-align: center;
  width: 600px;
}
.hit-the-floor {
  margin-top: 0;
  color: dodgerblue;
  font-size: 9em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}

.hit-the-floor {
  text-align: center;
}
img {
  width: 200px;
  margin-bottom: 0;
  margin-top: 0;
}

.hit-the-floor2 {
  text-align: center;
  color: lightgrey;
  font-size: 6em;
  font-weight: bold;
  font-family: Helvetica;
  text-shadow: 0 1px 0 #ccc, 0 2px 0 #c9c9c9, 0 3px 0 #bbb, 0 4px 0 #b9b9b9, 0 5px 0 #aaa, 0 6px 1px rgba(0,0,0,.1), 0 0 5px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3), 0 3px 5px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.25), 0 10px 10px rgba(0,0,0,.2), 0 20px 20px rgba(0,0,0,.15);
}
.gear, .gear2{
  height: 50px;
  width: 50px;
  background: transparent;
  box-shadow: inset 0 0 0px 17px dimgray, inset 0 0 0px 20px #444;
  border-radius: 50%;
  position: relative;
  margin: 10px auto;
  -webkit-animation: rotate 2.4s ease-out 1;
  -moz-animation: rotate 2.4s ease-out 1;
  animation: rotate 2.4s ease-out 1;
}
.gear:before, .gear:after, .gear2:before, .gear2:after {
  height: 10px;
  width: 10px;
  content: '';
  border-radius: 20%;
  position: absolute;
  background: dimgray;
}
.gear:before, .gear2:before{
  box-shadow: 25px 25px 0 0 dimgray, -25px 25px 0 0 dimgray, 0 50px 0 0 dimgray;
  top: -5px; left: 20px;
}
.gear:after, .gear2:after{
  transform: rotate(45deg);
  top: 2.5px; left: 38px;
  box-shadow: 0px 50px 0 0 dimgray, 25px 25px 0 0 dimgray, -25px 25px 0 0 dimgray;
}
.gear2 {
  top: -14px; left: 31px;
  -webkit-animation: rotate2 2.4s ease-out 1;
  -moz-animation: rotate2 2.4s ease-out 1;
  animation: rotate2 2.4s ease-out 1;
}
@-webkit-keyframes rotate {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(-360deg);}
}
@-moz-keyframes rotate {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(-360deg);}
}
@keyframes rotate {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(-360deg);}
}
@-webkit-keyframes rotate2 {
  0% {-webkit-transform: rotate(0deg);}
  100% {-webkit-transform: rotate(360deg);}
}
@-moz-keyframes rotate2 {
  0% {-moz-transform: rotate(0deg);}
  100% {-moz-transform: rotate(360deg);}
}
@keyframes rotate2 {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
}



