
<div>
<table  class="coupon" >

    <tr>
      <td [colSpan]="3"><span>Coupon System by Natan</span></td>
      <td class="logo" [colSpan]="2" [rowSpan]="2"><app-coupon-logo imageSource="assets/img/logo2.png"></app-coupon-logo> </td>
    </tr>
    <tr>
      <td [colSpan]="3"><span>"Don't wait! Try it!"</span></td>

    </tr>
    <tr>
      <td [colSpan]="2">Today: <span>{{time | date:'dd-MM-yy'}}</span><br/>
        Time: <span>{{time | date: 'HH:mm:ss'}}</span></td>
      <td>Type: <span>Market place</span></td>
      <td>Price: <span >Free</span></td>
    </tr>

  </table>
</div>
